29/ejemplo5schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="familia">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="padre" type="xs:string"/>
      <xs:element name="madre" type="xs:string"/>
      <xs:element name="hermano" type="xs:string"/>
      <xs:element name="hermana" type="xs:string"/>
      <xs:element name="elbebe" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>