29/ejemplo3schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="trencito">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="apellido" type="xs:string"/>
      <xs:element name="estatura" type="xs:decimal"/>
      <xs:element name="edad" type="xs:string"/>
      <xs:element name="rodando_o_no" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>